

<header class="s-header container-fluid">
    <div class="row">
        <div class="c-brand col-3">
            <div class="wrapper">
                <a href="" class="btn btn--reset">
                    <img src="../../../img/logo.jpg" alt="" class="img img--auto img--w">
                </a>
            </div>
        </div>    </div>
</header>
