<section class="s-hero {{s_hero_class}}">
    <div class="main-carousel dots {{s_hero_carousel_class}}">
        {{> @b-hero
            b_hero_img_cont="https://picsum.photos/1500/700?random=1"
        }}
        {{> @b-hero
            b_hero_img_cont="https://picsum.photos/1500/700?random=2"
        }}
        {{> @b-hero
            b_hero_img_cont="https://picsum.photos/1500/700?random=3"
        }}
        {{> @b-hero
            b_hero_img_cont="https://picsum.photos/1500/700?random=4"
        }}
    </div>
</section>