// board hero
.b-hero {
    .captions {
        @extend %transform_05;
        left: -150vw;
        top: 0;

        .btn {
            border: 1px solid $color_white;
        }
    }

    .img {
        height: 100vw;
        @include breakpoint(tablet) { height: 60vh; }
        @include breakpoint(desktop) { height: 100vh; }
    }

    .btn {
        .img { height: auto; }
    }

    &:hover {
        .captions {
            left: 0;
        }
    }
}