<div class="b-hero {{b_hero_class}}">
    <img src="{{b_hero_img_cont}}" alt="" class="img {{b_hero_img_class}}">
    {{#if b_hero_captions_cont }}
        <div class="captions {{b_hero_captions_class}}">
            {{#if b_hero_action_cont}}
                <div class="actions {{b_hero_action_cont}}">
                    <button class="btn btn-solid mb-3 py-3 px-3">
                        <img src="../../../img/arrow_hero.png" alt="" class="img img-auto">
                    </button>
                    <p class="text {{b_hero_captions_text_class}}">{{b_hero_captions_cont}}</p>
                </div>
            {{/if}}
        </div>
    {{/if}}

    {{#if b_hero_hashtag_cont}}
        <div class="hashtag {{b_hero_hashtag_class}}">
            <p class="text {{b_hero_hashtag_text_class}}">#<span class="text">{{b_hero_hashtag_span_cont}}</span>{{b_hero_hashtag_cont}}</p>
        </div>
    {{/if}}
</div>