.b-image {
    &-home {
        // .captions {
        //     bottom: 1rem;
        //     width: calc(100% - 2rem);
        //     left: 1rem;
        //     background-color: rgba($color_white, .7);
        //     @include breakpoint(tablet) {
        //         width: calc(100% - 3rem);
        //         left: 1.5rem;
        //     }
        // }
        .actions {
            border-top: 1px solid; 
            .img { height: auto; }
        }

        .img { height: 35vh; }

        &-single {
            @include breakpoint(desktop) { height: 100%; }
            .img {
                @include breakpoint(desktop) { height: calc(100% - 1px); }
            }
            .captions {
                @include breakpoint(desktop) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}