<div class="b-image {{b_image_class}}">
    <img src="{{b_image_img_cont}}" alt="" class="img {{b_image_img_class}}">
    {{#if b_image_captions_title_cont}}
        <div class="captions {{b_image_captions_class}}">
            <h3 class="text {{b_image_captions_title_class}}">{{b_image_captions_title_cont}}</h3>
            <div class="actions {{b_image_actions_class}}">
                <button class="btn ">ver mas <img src="../../../img/arrow_black.png" alt="" class="img img-auto"></button>
            </div>
        </div>
    {{/if}}
</div>