.b-producto {
    @extend %transform_05;
    .img {
        height: 35vh;
        @include breakpoint(tablet) { height: 30vh; }
    }

    &:hover {
        box-shadow: 7px 7px 20px 0 rgba(50, 50, 50, 0.32);
    }
}