<div class="b-producto {{b_producto_class}}">
    <div class="wrapper {{b_producto_wrapper_class}}">
        <img src="{{b_producto_img_cont}}" alt="" class="img {{b_producto_img_class}}">
        <div class="captions {{b_producto_caprions_class}}">
            <p class="text title {{b_producto_title_class}}">{{b_producto_title_cont}}</p>
            {{#if b_producto_price_text_1_cont}}
                <div class="price {{b_producto_price_class}}">
                    <p class="text {{b_producto_price_text_1_class}}">{{b_producto_price_text_1_cont}}</p>
                    {{#if b_producto_price_text_2_cont}}
                        <p class="text {{b_producto_price_text_2_class}}">{{b_producto_price_text_2_cont}}</p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>