<section class="c-parrafo-into {{c_parrafo_into_class}}">
    <main class="row">
        <article class="wrapper {{c_parrafo_into_wrapper_class}}">
            {{#if c_parrafo_into_pre_cont}}
                <h4 class="text {{c_parrafo_into_pre_class}}">{{c_parrafo_into_pre_cont}}</h4>
            {{/if}}
            <h2 class="text {{c_parrafo_into_title_class}}">{{c_parrafo_into_title_cont}}</h2>
            {{#if c_parrafo_into_post_cont}}
                <h4 class="text {{c_parrafo_into_post_class}}">{{c_parrafo_into_post_cont}}</h4>
            {{/if}}
            <p class="text {{c_parrafo_into_text_class}}">{{c_parrafo_into_text_cont}}</p>
            {{#if c_parrafo_text_2_cont}}
                <p class="text text-size-1-2 text-w-light text-color-tertiary mb-1">{{c_parrafo_text_2_cont}}</p>
            {{/if}}
            {{#if c_parrafo_text_3_cont}}
                <p class="text text-size-1-2 text-uppercase">{{c_parrafo_text_3_cont}}</p>
            {{/if}}
            {{#if c_parrafo_into_action_cont}}
                <div class="actions {{c_parrafo_into_action_cont}}">
                    <button>csas</button>
                </div>
            {{/if}}
        </article>
    </main>
</section>