<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Zapateria</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="all" rel="stylesheet" href="{{ path '/css/index.css' }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body class="body">

        {{{ yield }}}
		<script src="{{ path '/js/index.js' }}"></script> 
    </body>
</html>
