{{> @s-hero
    s_hero_class="container-fluid mx-0 px-0 mb-5"
    s_hero_carousel_class="main-carousel-full dots-no-zoom dots-no-arrow dots-no-bullets dots-arrow dots-arrow-white w-100"
    
    b_hero_captions_cont="Ver coleccion mujer"
    b_hero_img_class="img-auto img-w"
    b_hero_class="col-12 col-lg-6 overflow-hidden px-0"
    b_hero_captions_class="position-absolute h-100 w-100 d-flex align-items-center bg bg-color-black-075"
    b_hero_captions_text_class="text-w-light text-size-3 text-color-white text-uppercase mb-0"
    b_hero_action_cont="p-5"
}}

{{> @c-parrafo-into
    c_parrafo_into_class="container mb-5"
    c_parrafo_into_wrapper_class="col-12 col-lg-9 mx-lg-auto text-center"
    c_parrafo_into_pre_class="text-family-secondary text-size-1 text-bar text-uppercase mb-3"
    c_parrafo_into_title_class="text-size-2 text-uppercase mb-4"
    c_parrafo_into_text_class="text-color-tertiary"

    c_parrafo_into_pre_cont="Nueva Colección AW’20/21"
    c_parrafo_into_title_cont="Tendencias Primavera - Verano"
    c_parrafo_into_text_cont="La nueva campaña primavera - verano 2020 está inspirada en las nuevas tendencias, llena de colorido y variedad. Los materiales acrílicos no podrán faltar en tus looks, tacones de carey, degradés y transparencias en tacones con motivos coloridos."
    c_parrafo_text_2_cont="No te pierdas la nueva colección disponible en nuestra web"
    c_parrafo_text_3_cont="Zapatería José Luis Deza"
}}

<div class="container mb-5 px-lg-1">
    <div class="row align-items-lg-stretch">
        <div class="col-12 col-lg-6 px-0">
            {{> @b-image
                b_image_class="b-image-home col-12 position-relative mb-3 px-md-2 h-100 mb-lg-0"
                b_image_img_class="img img-w h-100 img-auto"
                b_image_img_cont="https://picsum.photos/1500/700?random=5"
                b_image_captions_class="position-absolute p-3"
                b_image_captions_title_class="text-size-1-2 text-uppercase mb-3"
                b_image_captions_title_cont="Sandalias de tacón con distintas alturas ideales para esos días de calor"
                b_image_actions_class="w-100"
            }}
        </div>
        <div class="col-12 col-lg-6 px-0 d-flex flex-wrap">
            {{> @b-image
                b_image_class="b-image-home col-12 col-md-6 col-lg-12 position-relative mb-3 px-md-2"
                b_image_img_class="img-w img-h"
                b_image_img_cont="https://picsum.photos/1500/700?random=5"
                b_image_captions_class="position-absolute p-3"
                b_image_captions_title_class="text-size-1-2 text-uppercase mb-3"
                b_image_captions_title_cont="Sandalias de tacón con distintas alturas ideales para esos días de calor"
                b_image_actions_class="w-100"
            }}
            {{> @b-image
                b_image_class="b-image-home col-12 col-md-6 col-lg-12 position-relative mb-3 px-md-2 mb-lg-0"
                b_image_img_class="img-w img-h"
                b_image_img_cont="https://picsum.photos/1500/700?random=5"
                b_image_captions_class="position-absolute p-3"
                b_image_captions_title_class="text-size-1-2 text-uppercase mb-3"
                b_image_captions_title_cont="Sandalias de tacón con distintas alturas ideales para esos días de calor"
                b_image_actions_class="w-100"
            }}
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-12 px-0">
            <img src="https://picsum.photos/1500/700?random=9" alt="" class="img img-w img-auto img-h-400">
        </div>
    </div>
</div>

<section class="container mb-5">
    <div class="row">
        {{> @c-parrafo-into
            c_parrafo_into_class="col-12"
            c_parrafo_into_wrapper_class="w-100 text-center"
            c_parrafo_into_pre_class="text-family-secondary text-size-1 text-uppercase mb-3"
            c_parrafo_into_title_class="text-size-2 text-uppercase mb-4"
            c_parrafo_into_text_class="text-color-tertiary"

            c_parrafo_into_pre_cont="Productos que te pueden interesar"
            c_parrafo_into_title_cont="los mas vendidos en esta temporada"
        }}

        <div class="col-12 main-carousel main-carousel-full dots dots-no-arrow dots-no-zoom dots-no-bulltes">
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
            {{> @b-producto
                b_producto_class="col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
                b_producto_price_text_1_class="mb-0 text-w-light"
                b_producto_price_text_1_cont="88.0$$"
                b_producto_price_text_2_class="text-color-primary mb-0 text-w-light"
                b_producto_price_text_2_cont="150.00$"
            }}
        </div>
    </div>
</section>

<div class="c-banner bg bg-color-quaternary_light p-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 px-0">
                <img src="https://picsum.photos/1500/700?random=3" alt="" class="img img-auto img-w ">
            </div>
            <div class="col-12 col-md-6 p-3 text-center">
                <p class="text text-w-light mb-0"><i class="fab fa-instagram ml-2"></i> Ingresa a nuestro INSTAGRAM</p>
                <p class="text text-size-1-2 text-color-secondary text-w-light mb-3">@zapateriajoseluisdeza.com</p>

                <div class="w-100">
                    <p class="text text-w-light">Suscríbete para recibir novedades y ofertas</p>
                </div>
            </div>
        </div>
    </div>
</div>