<div class="c-banner bg bg-color-quaternary_light p-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="main-carousel main-carousel-full dots dots-no-arrow dots-no-zoom dots-no-bullets col-12 col-md-6 px-0 bg bg-color-white p-2">
                <div class="item col-12 col-md-6 col-lg-4 px-2">
                    <img src="https://picsum.photos/1500/900?random=3" alt="" class="img img-auto img-w img-h-350">
                </div>  
                <div class="item col-12 col-md-6 col-lg-4 px-2">
                    <img src="https://picsum.photos/1500/900?random=3" alt="" class="img img-auto img-w img-h-350">
                </div>  
                <div class="item col-12 col-md-6 col-lg-4 px-2">
                    <img src="https://picsum.photos/1500/900?random=3" alt="" class="img img-auto img-w img-h-350">
                </div>  
                <div class="item col-12 col-md-6 col-lg-4 px-2">
                    <img src="https://picsum.photos/1500/900?random=3" alt="" class="img img-auto img-w img-h-350">
                </div>  
                <div class="item col-12 col-md-6 col-lg-4 px-2">
                    <img src="https://picsum.photos/1500/900?random=3" alt="" class="img img-auto img-w img-h-350">
                </div>  
            </div>
            <div class="col-12 col-md-6 p-3 text-center">
                <p class="text text-w-light mb-0"><i class="fab fa-instagram ml-2"></i> Ingresa a nuestro INSTAGRAM</p>
                <p class="text text-size-1-2 text-color-secondary text-w-light mb-3">@zapateriajoseluisdeza.com</p>

                <div class="w-100">
                    <p class="text text-w-light">Suscríbete para recibir novedades y ofertas</p>
                </div>
            </div>
        </div>
    </div>
</div>