<section class="s-slider-title container-fluid bg bg-image py-5" style="background-image: url(../../../img/bg_textura.png);">
    <div class="row">
        <div class="col-6 col-lg-3 mx-auto mb-3">
            <img src="../../../img/30.png" alt="" class="img img-auto img-w">
        </div>
        <div class="col-12 text-center mb-4">
            <p class="text">No te pierdas la nueva colección disponible en nuestra web</p>
        </div>
        <div class="col-12 main-carousel main-carousel main-carousel-full dots dots-no-arrow dots-no-zoom dots-no-bullets">
            {{> @b-producto
                b_producto_class="b-producto-simple col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
            }}
            {{> @b-producto
                b_producto_class="b-producto-simple col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
            }}
            {{> @b-producto
                b_producto_class="b-producto-simple col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
            }}
            {{> @b-producto
                b_producto_class="b-producto-simple col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
            }}
            {{> @b-producto
                b_producto_class="b-producto-simple col-12 col-md-4 col-lg-3 col-xl-2 bg bg-color-white"
                b_producto_wrapper_class="w-100 overflow-hidden px-md-2"
                b_producto_img_cont="https://picsum.photos/1500/700?random=7"
                b_producto_img_class="img-w img-auto"
                b_producto_caprions_class="p-3"
                b_producto_title_class="text-uppercase text-w-light text-size-1 text-color-text_primary mb-1"
                b_producto_title_cont="BOTÍN COCCO LUX NEGRO"
                b_producto_price_class="d-flex flex-wrap justify-content-between"
            }}
        </div>
    </div>
</section>