// colors

// theme yellow
$color_primary:         #EE1B1B;

// theme blue
$color_secondary:       #8B6B11;

// theme black
$color_tertiary:        #707070;

// theme beige
$color_quaternary:      #ede2cd;
$color_quaternary_light:    #EBEBEB;

// text
$color_text_primary:    #3b3b3b;

// basic
$color_black:           #000000;
$color_white:           #FFFFFF;
$color_transparent:     transparent;
