// fonts

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Open+Sans:wght@300;400;700&display=swap');
@import url("https://use.typekit.net/jpp5bvl.css");


$font_primary:          'Open Sans', sans-serif;
$font_secondary:        'Cinzel', serif;
$font_tertiary:         'Heebo', sans-serif;