// overrides

// body
body {
	font-size: 21px;
	a, a:link {
		&.text {
			@extend %transform_05;
			&:hover {
				color: $color_primary;
				text-decoration: none;
			}
		}
	}
}

p, h1, h2, h3, h4, h5, h6, li, ul, span{
	font-family: $font_primary;
	font-size: 1rem;
	line-height: 150%;
	color: $color_text_primary;
}

// text
.text {
	font-family: $font_primary;
	font-size: 1rem;
	line-height: 150%;
	color: $color_text_primary;
	&.text {

		&-family {
			&-primary {
				font-family: $font_primary;
				span { font-family: $font_primary; }
			}
			&-secondary {
				font-family: $font_secondary;
				span { font-family: $font_secondary; }
			}
			&-tertiary {
				font-family: $font_tertiary;
				span { font-family: $font_tertiary; }
			}
		}

		&-bar {
			padding-top: 2rem;
			position: relative;
			&:after {
				@extend %after-before-bas;
				width: 2rem;
				height: 1px;
				background-color: $color_black;
				left: 50%;
				top: 1rem;
				transform: translateX(-50%);
			}
		}

		&-size {
			&-0 {
				&-5 {
					font-size: .5rem;
					span { font-size: .5rem; }
				}
				&-6 {
					font-size: .6rem;
					span { font-size: .6rem; }
				}
				&-7 {
					font-size: .7rem;
					span { font-size: .7rem; }
				}
				&-8 {
					font-size: .8rem;
					span { font-size: .8rem; }
				}
				&-9 {
					font-size: .9rem;
					span { font-size: .9rem; }
				}
			}
			&-1 {
			
				font-size: 1re
				span { font-size: 1re }
				;
				&-1 {
					font-size: 1.1rem;
					span { font-size: 1.1rem; }
				}
				&-2 {
					font-size: 1.2rem;
					span { font-size: 1.2rem; }
				}
				&-3 {
					font-size: 1.3rem;
					span { font-size: 1.3rem; }
				}
				&-4 {
					font-size: 1.4rem;
					span { font-size: 1.4rem; }
				}
				&-5 {
					font-size: 1.5rem;
					span { font-size: 1.5rem; }
				}
				&-6 {
					font-size: 1.6rem;
					span { font-size: 1.6rem; }
				}
				&-7 {
					font-size: 1.7rem;
					span { font-size: 1.7rem; }
				}
				&-8 {
					font-size: 1.8rem;
					span { font-size: 1.8rem; }
				}
				&-9 {
					font-size: 1.9rem;
					span { font-size: 1.9rem; }
				}
			}
			&-2 {
			font-size: 2rem;
			span { font-size: 2rem; }
				&-5 {
					font-size: 2.5rem;
					span { font-size: 2.5rem; }
				}
				&-6 {
					font-size: 2.6rem;
					span { font-size: 2.6rem; }
				}
				&-7 {
					font-size: 2.7rem;
					span { font-size: 2.7rem; }
				}
				&-8 {
					font-size: 2.8rem;
					span { font-size: 2.8rem; }
				}
				&-9 {
					font-size: 2.9rem;
					span { font-size: 2.9rem; }
				}
			}
			&-3 {
			font-size: 3rem;
			span { font-size: 3rem; }
				@include breakpoint(mobile) {
					font-size: 2.5rem;
					span { font-size: 2.5rem; }
				}
				&-5 {
					font-size: 3.5rem;
					span { font-size: 3.5rem; }
				}
				&-6 {
					font-size: 3.6rem;
					span { font-size: 3.6rem; }
				}
				&-7 {
					font-size: 3.7rem;
					span { font-size: 3.7rem; }
				}
				&-8 {
					font-size: 3.8rem;
					span { font-size: 3.8rem; }
				}
				&-9 {
					font-size: 3.9rem;
					span { font-size: 3.9rem; }
				}
			}
			&-4 {
			font-size: 4rem;
			span {font-size: 4rem; } 
				@include breakpoint(mobile) {
					font-size: 2.5rem;
					span { font-size: 2.5rem; }
				}
			}
			&-5 {
				font-size: 5rem;
				span { font-size: 5rem; }
			}
			&-6 {
				font-size: 6rem;
				span { font-size: 6rem; }
			}
			&-7 {
				font-size: 7rem;
				span { font-size: 7rem; }
			}
		}

		&-color {
			&-primary { 
				color: $color_primary;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
			&-secondary {
				color: $color_secondary;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
			&-tertiary {
				color: $color_tertiary;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
			&-text_primary {
				color: $color_text_primary;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
			&-black {
				color: $color_black;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
			&-white {
				color: $color_white;
				&-primary {
					color: $color_white;
					span { color: $color_primary; }
				}
				&-secondary {
					color: $color_white;
					span { color: $color_secondary; }
				}
				&-tertiary {
					color: $color_white;
					span { color: $color_tertiary; }
				}
				&-text_primary {
					color: $color_white;
					span { color: $color_text_primary; }
				}
				&-black {
					color: $color_white;
					span { color: $color_black; }
				}
				&-white {
					color: $color_white;
					span { color: $color_white; }
				}
			}
			&-transparent {
				color: $color_transparent;
				&-primary {
					span { color: $color_primary; }
				}
				&-secondary {
					span { color: $color_secondary; }
				}
				&-tertiary {
					span { color: $color_tertiary; }
				}
				&-text_primary {
					span { color: $color_text_primary; }
				}
				&-black {
					span { color: $color_black; }
				}
				&-white {
					span { color: $color_white; }
				}
			}
		}

		&-w {
			&-light { font-weight: lighter; }
			&-normal { font-weight: normal; }
			&-bold { font-weight: bold; }
		}

		&-lineH {
			&-100 { line-height: 100%; }
		}

		&-line {
			white-space: nowrap;
			&-b {
				border-bottom: 1px solid;
				&-primary { border-bottom-color: $color_primary; }
			}
		}
	}
}

// btn
.btn {
	@extend %transform_05;

	&.btn {
		&-reset {
			@include border-radius(0);
			padding: 0;
			text-decoration: none;
			display: inline-block;
			&-underline { text-decoration: underline; }
		}
		&-solid {
			@include border-radius(0);

			&:hover {
				box-shadow: 7px 7px 20px 0 rgba(50, 50, 50, 0.32);
			}
		}
	}
}

// img
.img {
	&.img {
		&-auto { object-fit: cover; }
		&-w {
			width: 100%;
			&-2 { width: 2rem; }
			&-3 { width: 3rem; }
			&-4 { width: 4rem; }
			&-5 { width: 5rem; }
		}
		&-h {
			height: 100%;
			&-350 { height: 350px; }
			&-400 { height: 400px; }
			&-450 { height: 450px; }
			&-500 { height: 500px; }
			&-600 {
				height: 600px;
				@include breakpoint(mobile) { height: 450px; }
			}
			&-700 { height: 700px; }
		}
		&-maxWidth { max-width: 100%;}
	}
}

// bg
.bg {
	@extend %transform_05;
	&.bg {
		&-color {
			&-primary { background-color: $color_primary; }
			&-secondary { background-color: $color_secondary; }
			&-tertiary { background-color: $color_tertiary; }
			&-quaternary { background-color: $color_quaternary; }
			&-quaternary_light { background-color: $color_quaternary_light; }
			&-text_primary { background-color: $color_text_primary; }
			&-black { 
				background-color: $color_black;
				&-025 { background-color: rgba($color_black, .25); }
				&-05 { background-color: rgba($color_black, .5); }
				&-075 { background-color: rgba($color_black, .75); }
			}
			&-white { 
				background-color: $color_white;
				&-primary {
					background: rgb(256,256,256);
					background: linear-gradient(0deg, rgba($color_primary, 1) 0%, rgba($color_white, 1) 100%);
				}
				&-secondary {
					background: rgb(256,256,256);
					background: linear-gradient(0deg, rgba($color_secondary, 1) 0%, rgba($color_white, 1) 100%);
				}
				&-tertiary {
					background: rgb(256,256,256);
					background: linear-gradient(0deg, rgba($color_tertiary, 1) 0%, rgba($color_white, 1) 100%);
				}
			}
			&-transparent { background-color: $color_transparent; }
		}

		&-image {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			&-repeat { background-repeat: repeat; }
		}
	}
}

// position
.position {
	&.position {
		&-z {
			&-1 { z-index: 1000; }
			&-2 { z-index: 2000; }
			&-3 { z-index: 3000; }
			&-4 { z-index: 4000; }
			&-5 { z-index: 5000; }
		}
	}
}

// icon
.icon {
	@extend %transform_05;
	&.icon {
		&-color {
			&-primary { color: $color_primary; }
			&-secondary { color: $color_secondary; }
			&-tertiary { color: $color_tertiary; }
			&-text_primary { color: $color_text_primary; }
			&-black { color: $color_black; }
			&-white { color: $color_white; }
			&-transparent { color: $color_transparent; }
		}
		&-size {
			&-1 {
				font-size: 1rem;
				&-1 { font-size: 1.1rem; }
				&-2 { font-size: 1.2rem; }
				&-3 { font-size: 1.3rem; }
				&-4 { font-size: 1.4rem; }
				&-5 { font-size: 1.5rem; }
				&-6 { font-size: 1.6rem; }
				&-7 { font-size: 1.7rem; }
				&-8 { font-size: 1.8rem; }
				&-9 { font-size: 1.9rem; }
			}
			&-2 { font-size: 2rem; }
			&-3 { font-size: 3rem; }
			&-4 { font-size: 4rem; }
		}
	}
}

// list
.list {
	&-none {
		list-style: none;
		padding: 0;
	}

	&-square {
		list-style: none;
		li {
			position: relative;
			padding-left: 1rem;
			&:before {
				@extend %after-before-bas;
				width: .3rem;
				height: .3rem;
				background-color: $color_black;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		&-color {
			&-white {
				li {
					&:before { background-color: $color_white; }
				}
			}
			&-secondary {
				li {
					&:before { background-color: $color_secondary; }
				}
			}
		}
	}
}

// carousel
.main {
	&-carousel {
		&-watch {
			&:after {
				content: 'flickity';
				display: none; /* hide :after */
				@include breakpoint(desktop) { content: ''; }
			}
		}
		&-full {
			&:after {
				content: 'flickity';
				display: none; /* hide :after */
			}
		}
	}
}

// dots - flickity
.dots {

	&.dots {
		&-no {
			&-bullets {
				.flickity {
					&-page {
						&-dots { display: none;}
					}
				}
			}
			&-zoom {
				.flickity-fullscreen-button { display: none; }
			}
			&-arrow {
				.flickity-button { display: none; }
			}
		}

		&-arrow {
			.flickity {
				&-button {
					@include border-radius(0);
					background: none;
					&-icon {
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
				}
			}
			&-padding {
				.flickity {
					&-prev {
						&-next {
							&-button {
								&.next { right: 1.5rem; }
								&.previous { left: 1.5rem; }
							}
						}
					}
				}
			}

			&-primary {
				.flickity-button-icon { color: $color_primary; }
			}
			&-secondary {
				.flickity-button-icon { color: $color_secondary; }
			}
			&-tertiary {
				.flickity-button-icon { color: $color_tertiary; }
			}
			&-text_primary {
				.flickity-button-icon { color: $color_text_primary; }
			}
			&-black {
				.flickity-button-icon { color: $color_black; }
			}
			&-white {
				.flickity-button-icon { color: $color_white; }
			}
			&-transparent {
				.flickity-button-icon { color: $color_transparent; }
			}
		}
	}

	.flickity {
		&-page {
			&-dots {
				.dot {
					background-color: $color_secondary;
					&.is-selected { background-color: $color_primary;}
				}
			}
		}
	}
}

// box shadow
.box-shadow {
	&:after {
		@extend %after-before-bas;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba($color_black, .9) 0%, rgba($color_black, .2) 100%);
	}

	&-350 {
		&:after { height: 350px; }
	}
	&-400 {
		&:after { height: 400px; }
	}
	&-450 {
		&:after { height: 450px; }
	}
	&-500 {
		&:after { height: 500px; }
	}
	&-600 {
		&:after { height: 600px; }
	}
	&-700 {
		&:after { height: 700px; }
	}

	> * { z-index: 3; }
	.img { z-index: 1; }
}

// border

.border {
	&-left {
		&-primary { border-left-color: $color_primary !important; }
		&-secondary { border-left-color: $color_secondary !important; }
	}
}